@model UserManagement.Models.User

@if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Success
    </div>
}
else if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    @using (Html.BeginForm("EditUser", "Users", FormMethod.Post, new { @class = "ajax-form" }))
        {
        @Html.AntiForgeryToken()
        @Html.Hidden("userId", Model.Id)
        <div class="modal-body">
                <div class="mb-3">
                    @Html.LabelFor(model => model.Forename, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Forename, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Forename, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Surname, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Surname, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(model => model.DateOfBirth, new { @class = "form-label" })
                    <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-control" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")"/>
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                 </div>
                    <div class="mb-3">
                    <input type="checkbox" class="form-check-input" id="isActive" name="IsActive" value="true" @(Model.IsActive ? "checked" : "")>
                    @Html.LabelFor(model => model.IsActive, new { @class = "form-label" })
                </div> 
        </div>
        <div class="modal-footer">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
        }
}