@model UserManagement.Models.User

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
else
{
    <div>display log info here</div>
    @* <div class="modal-body">
        <div class="mb-3">
            <strong>LogIdId:</strong> @Model.LogId
        </div>
        <div class="mb-3">
            <strong>User Id:</strong> @Model.UserId
        </div>
        <div class="mb-3">
            <strong>Info:</strong> @Model.Info
        </div>
        <div class="mb-3">
            <strong>Time Stamp:</strong> @Model.TimeStamp
        </div>
        <div class="mb-3">
            <strong>Log:</strong> @Model.Log
        </div>
    </div> *@
}