@model UserManagement.Web.Models.Users.LogListViewModel

<h2>Logs List</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Id</th>
                <th>Info</th>
                <th>Timestamp</th>
                <th style="width: 1px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.LogId
                    </td>
                    <td>
                        @item.UserId
                    </td>
                    <td>
                        @item.Info
                    </td>
                    <td>
                        @item.TimeStamp
                    </td>
                    <td>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal" 
                    data-content-url="/modals/viewUserLogs" data-title="User Logs" data-user-id="@item.LogId">View Log</a>
                    </td>
        
                </tr>
            }
        </tbody>
    </table>
</div>

    <!-- Modal -->
    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Dynamic Modal Content Loaded Here -->
                <div id="modalContent"></div>
            </div>
        </div>
    </div>

<div>
    <div class="btn-group" role="group">
    </div>
</div>
